<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Recent Tweets</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="../static/css/styles_input.css">
  <link rel="icon" href="../static/img/chart.ico">
  <link rel="apple-touch-icon" sizes="144x144" href="../static/img/chart.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
</head>

<body>
  <div class="container">

    <header>
      <div class="row">
        <div class="col-md-12 title">
          <a href="/">
            <i class="far fa-chart-bar d-inline-block"></i>
            <h1>Recent Tweets</h1>
          </a>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="col-md-12 div-form">
        <form class="form-inline" method="post" action="{{ url_for("output") }}">
          <div class="form-group input">
            <label class="sr-only" for="user_id"></label>
            <div class="input-group mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input id="user_id" name="user_id" type="text" class="form-control" placeholder="Twitter IDを入力して下さい">
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary">GET</button>
      </div>
    </div>

    <div class="row">
      <hr class="hl">
    </div>

    <div class="row headline">
      <h2>直近30ツイートを分析します</h2>
      <p>リツイート数の推移をグラフで表示します</p>
      <p>ツイートをリツイートの多い順に並べ替えます</p>
    </div>

    <div class="row">
      <hr class="hl">
    </div>

    <div class="footer">
      <p>&copy; Misprochef</p>
      <p>お問い合わせ（準備中）</p>
    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>

</html>